<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @home.title %>
</p>

<p>
  <strong>開始時間</strong>
  <%= @home.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>終了時間</strong>
  <%= @home.finish_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @home.content %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', root_path %>